


@font-face{
  font-family: 'aqua';
  src:url("fonts/aqua.ttf");

}




body,html{
  height: 100%;
  margin: 0;

}



.pg1,.pg2{
  opacity: .9;
}
section{
  height: 100%;
}
.pg1,.pg2,.pg3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.pg1,.pg2{
    color: #fff;
    font-family: 'aqua';
    text-shadow: 2px 2px 10px #000;
}


.pg1 {
  background-image: url("imgs/cover.jpg");
}


.pg2{

  background-image: url("imgs/cover2.jpg");
  padding: 50px 80px;
  text-align: justify;

}


.pg2>h1{
  text-align: center;
}
.pg3{
  padding-top: 50px;
  background-color: #040F16 ;
  
  color:#000;

}

.textbox{
  background-color:rgba(0,0,0,.6);
  padding:20px 40px;

}


.nav-pills>li>a{
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  color:#fff;
  
}

.photos-tab{
    background-image: url("imgs/img1.jpg");
}

.works-tab{
  background-image: url("imgs/work1.png"); 
}
.poems-tab{
  background-image: url("imgs/maybe.jpg"); 

}

.coffee-poem{

  font-size: 25px;
  text-align: left;


}

.caption,span.border{

  color: #fff;
  padding: 18px;
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
  font-size: 100px;
  letter-spacing: 10px;

}


.caption{
  font-family: 'aqua';
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}
hr{
  padding:0px;
  height:25%;
  margin-top: 0;
  width: 50%;
}
div {
  display: block;
}

  
.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3,
.grid-custom .col-xs-4,
.grid-custom .col-sm-2,
.grid-custom .col-md-4 {
    padding:5px;
}

.row img{
  max-height: 100%;
  max-width: 100%;
}


.modal-content{
  background-color:transparent;
  
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  border-color:transparent;
  margin: 0px 0px 0px 0px;
    
}


.carousel-control.right,.carousel-control.left{
  background-color: transparent;  
  background-image: none;

}